{% extends 'base.html.twig' %}

{% block title %}Hello Participant {id}!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Participant id :{{participant.getNom()}}</h1>
    <h1>mail : {{participant.getEmail()}}</h1>
    <h1>fonction : {{participant.getFonction()}} jour</h1>
    
</div>
{% endblock %}